body {
    font-family: "Syne", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    background-color: antiquewhite;
    
}
section {
    padding: 25px;
    border-radius: 5%;
    margin-bottom: 40px;
}

h1 {
    text-align: left;
    font-weight: 700;
    margin-top: 40px;
    font-size: 30px;
}
p {
    text-align: left;
    margin-top: 30px;
}
@media (min-width: 800px) {
    body {
        font-family: "Syne", sans-serif;
        font-weight: 400;
        background-color: rgb(44, 44, 44);
        padding: 50px;
        gap: bottom 50px;
        font-size: 18px;
    }
    section {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 60px;
        padding: 60px;
        border-radius: 5%;
        background-color: antiquewhite;
        margin-bottom: 60px;
        align-items: center;
        justify-items: center;
    }
    un {
        background-color: #c6c8ae;
    }
    .deux {
        background-color: red;
    }
    .trois {
        background-color: #050505;
        color: white;
    }
    .quatre {
        background-color: #7c4319;
    }
    .cinq {
        background-color: #311d0f;
        color: white;
    }
    .six {
        background-color: #17191e;
        color: white;
    }
}

h1 {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
}
p {
    text-align: left;
}

@media (min-width: 1024px) {
    body {
        font-family: "Syne", sans-serif;
        font-weight: 400;
        background-color: rgb(44, 44, 44);
        font-size: 16px;
        padding: 50;

    }
    
    section {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 60px;
        padding: 100px;
        border: radius 10%;
        background-color: antiquewhite;
        margin-bottom: 40px;
        align-items: center;
        justify-items: center;
    }

    h1 {
        text-align: left;
        font-weight: 700;
        font-size: 22px;
    }
    p {
        text-align: left;
    }
    .un {
        background-color: #c6c8ae;
        
    }
    .deux {
        background-color: red;
    }
    .trois {
        background-color: #050505;
        color: white;
    }
    .quatre {
        background-color: #7c4319;
    }
    .cinq {
        background-color: #311d0f;
        color: white;
    }
    .six {
        background-color: #17191e;
        color: white;
    }

    }
}
